{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/about.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Comparison Website</title>
</head>
<body style="background: rgb(127,127,213);background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 50%, rgba(145,234,228,1) 100%);">
    <header>
        <div class="navbar_div">
            <ul class="navbar">
                <img class="navbar_logo" src="{% static '/images/logo.png'%}" alt="logo">
                <li><a href="http://localhost:8000">Home</a></li>
                <li><a href="http://localhost:8000/pricealert">Price Alert</a></li>
                <li><a href="http://localhost:8000/about">About</a></li>
            </ul>
        </div>
        <h1>About</h1>
        <div>
            <p>This website can help you find the best bargain by crawling through several online retailers and finding the one with the best priced product you're looking for. It can also send you emails when a price drop</p>
            <p>This website was made for a school Computer Science project</p>
            <br>
            <p style="font-size:15px;">ToS: You shall not, by any mean, cause damage to the website or database.</p>
            <p style="font-size:15px;">Privacy and Policy: If you sign up to a price alert, your email will be stored in a database and will only be utilised for sending price alert emails.</p>
        </div>
    </header>
</body>
</html>
