/*H1 Text alignment*/
h1{
    color:black;
    text-align: center;
    padding: 75px;
}

/*GOOGLE FONT*/
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
}

/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size:  16px;
    color: #edf0f1;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0%;
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
    color: #FFFFFF;
}

.navbar li a:hover {
    transition: all 0.3s ease 0s;
    color: #CDEFF7;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*Search*/
.search {
    width: 100%;
    position: relative;
    display: flex;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search form input {
    width: 470px;
    border: 3px solid #121212;
    border-right: 3px solid #121212;
    padding: 0px;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    font-size: 35px;
}

.searchButton {
    width: 70px;
    height: 60px;
    border: 5px solid #121212;
    background: #121212;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    font-size: 35px;
    padding: 0px;
    margin: 0;
}
